/* Basic styles */

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 16px;
	background-color: lightblue;
}

header {
	background-color: #333;
	color: #fff;
	padding: 10px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

nav ul li {
	flex: 1;
	text-align: center;
	padding: 10px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

nav ul li a:hover {
	background-color: #fff;
	color: #333;
}

main {
	margin: 20px;
}

section {
	margin-bottom: 20px;
}

h1, h2 {
	margin: 0;
	text-align: center;
}

#banner {
	text-align: center;
	background-color: lightcyan;
}

#banner img {
	width: 100%;
	max-width: 400px;
	height: auto;
}

.section {
	background-color: lightcyan;
}

#papers-list {
	margin-top: 20px;
	/* background-color: lightblue; */
  }

  #papers-list ul {
	background-color: lightcyan;
  }
  
  #papers-list a {
	display: block;
	margin-bottom: 10px;
	color: #333;
	text-decoration: none;
	font-weight: bold;
	/* background-color: lightblue; */
  }
  
  #papers-list a:hover {
	text-decoration: underline;
  }
  